<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
  <bean id="collect" class="com.au.spring.Collect">
    <property name="multiplyby2">
	  <map>
	            <entry key="0" value="0" />
	            <entry key="1" value="2" />
	            <entry key="2" value="4" />
	  </map>
  </property>
  <property name="hset">
	  <set>
	            <value>50</value>
	            <value>60</value>
	            <value>70</value>
	  </set>
  </property>
  </bean>
</beans>